<h1>Отчет №<%= faceReport %> на проекте <%= project.titleRu %> нуждается в Вашем подтверждении</h1>

<p>
    Пользователь <%= user.personalData.firstNameRu %> <%= user.personalData.lastNameRu %> успешно подтвердил FACE отчет №<%= faceReport %> по проекту <%= project.titleEn %> в систсеме <b>UNICEF SMART CONTRACT IP</b><br>
</p>

<p>
    <i>Настала Ваша очередь</i><br>
    <i>Спасибо!</i>
</p>