<h1>Report <%= faceReport %> on project <%= project.titleEn %> needs your approval</h1>

<p>
    User <%= user.personalData.firstNameEn %> <%= user.personalData.lastNameEn %> successfully approved face report #<%= faceReport %> on project <%= project.titleEn %> on the portal <b>UNICEF SMART CONTRACT IP</b><br>
</p>

<p>
    <i>It's your turn to approve!</i><br>
    <i>Thank you!</i>
</p>