<h1>Запрос №<%= faceRequest %> на проекте <%= project.titleRu %> нуждается в Вашем утверждении</h1>

<p>
    Пользователь <%= user.personalData.firstNameRu %> <%= user.personalData.lastNameRu %> успешно утвердил FACE запрос №<%= faceRequest %> по проекту <%= project.titleEn %> в систсеме <b>UNICEF SMART CONTRACT IP</b><br>
</p>

<p>
    <i>Настала Ваша очередь</i><br>
    <i>Спасибо!</i>
</p>