<h1>Request <%= faceRequest %> on project <%= project.titleEn %> was approved</h1>

<p>
    Your request on project <%= project.titleEn %> was approved by <%= user.personalData.firstNameEn %> <%= user.personalData.lastNameEn %> the portal <b>UNICEF SMART CONTRACT IP</b><br>
</p>

<p>
    <i>Congrats!</i>
</p>